<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detailstrategy</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_foxer.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/buttons.css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Untitled Document</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/echarts.js"></script>
</head>
<body>
<div class="header" ng-app="myApp" ng-controller="siteCtrl">
    <div class="header-left-detail">
        <div class="logo" >
            <a ng-click="check_out()">登出</a>
            <!--<button class="button button-primary button-circle button-giant button-longshadow" ng-click="check_out()" ><i class="fa fa-reply"></i></button>-->
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" >大数据展示</a ></li>
                <li><a href="news.html" class="black" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black2" > 个人主页</a ></li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>
    <!---->
    <div class="content" >
        <div class="work">
            <div class="heat-map-title">&nbsp;&nbsp;&nbsp;{{basicinfo.strategy_name}}
            </div>
            <div class="work-top">
                <div class="test">
                    <div class="test-top">
                        <div class="blog-in">
                            <h5 id="miaomiao" scope="col" style="vertical-align:middle; text-align:center;">总收益：{{basicinfo.benefit_all}}</h5>
                            <!--<p>涨停：@up_limit@&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跌停：@down_limit@</p>-->

                        </div>
                        <style>
                            .stupid{margin: 1% 2%}
                        </style>
                        <div class="stupid">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>

                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">月收益：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{basicinfo.benefit_month}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">收益净值：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{basicinfo.benefit_net}}</td>
                                </tr>

                                </tbody>
                            </table>

                            <br/>
                        </div>
                    </div>
                </div>


                <style>
                    .l-center{
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                </style>
                <div id="select_k1" class="showcase-examples l-center">
                    <input type="submit" value="近3个月" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_month()" id="month">
                    <input type="submit" value="近1年" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_year()" id="year">
                    <input type="submit" value="全部" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_all()" id="all">
                    <!--<button class="button button-pill button-primary">Go</button>-->
                </div>
                <style>
                    .guding{text-align:center;}
                    #main{display:inline-block;}
                </style>
                <div class="guding">
                    <div id="main" style="top:2%;left:2%;width:470px;height:310px;" ></div>
                </div>

            </div>
            <div class="work-in">

                <div class="test">
                    <div class="test-in">

                        <h4 class="author" >&nbsp;&nbsp;基本信息</h4>
                        <div class="clear"> </div>
                    </div>
                    <div class="blog-in">
                        <!--<li  ng-repeat="x in news">-->
                        <style>
                            .stupid{margin: 1% 2%}
                        </style>
                        <div class="stupid">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">主理人：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #bd362f">{{basicinfo.user_name}}</td>

                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">主理人简介：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #46a546">{{basicinfo.brief}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <br/>
                        </div>
                        <div class="stupid">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr ng-repeat="x in basicinfo.code_data">
                                    <td scope="col" style="vertical-align:middle; text-align:center;">股票：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #bd362f">{{x.code_id}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">份额：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #46a546">{{x.storage_number}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">当前价格：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #46a546">{{x.present_value}}</td>
                                </tr>

                                </tbody>
                            </table>

                            <br/>
                        </div>
                    </div>
                    <br/>

                    <div class="services">
                        <div class="test-in">
                            <h4 class="author">&nbsp;&nbsp;最新调仓</h4>
                            <div class="clear"> </div>
                        </div>

                        <div class="blog-in">
                            <div class="stupid">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr ng-repeat="y in basicinfo.change_log">
                                        <td scope="col" style="vertical-align:middle; text-align:right;padding:2%;">{{y.type}}</td>
                                        <td scope="col" style="vertical-align:middle; text-align:left;padding:2%;">{{y.code_id}}</td>
                                        <td scope="col" style="vertical-align:middle; text-align:right;padding:2%;">份额：{{y.old}}-->{{y.new}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>

</div>

</body>

<script>
    function getQueryStringArgs(){
        var qs = (location.search.length>0?location.search.substring(1):"");
        var args = {};
        var items = qs.length?qs.split("&"):[];
        var item = null;
        var name = null;
        var value = null;
        len = items.length;
        for (var i = 0; i < len; i++) {
            item = items[i].split("=");
            name = decodeURIComponent(item[0]);
            value = decodeURIComponent(item[1]);
            if (name.length) {
                args[name] = value;
            }
        }
        return args;
    }
    var args = getQueryStringArgs();
    var code = args["code"];
    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
        $scope.check_out = function () {
            window.location.href = "login.html";
            $http.get("http://localhost:8080/user/logout");
        };
        $scope.code = code;

        $http.get("http://localhost:8080/study/strategy/detail?strategy_id=" + 11)
            .then(function (response) {
                alert("yes");
                if (response.data === 400)
                    window.location.href =  "login.html";
                $scope.basicinfo = response.data;
            });

        // $http.get("http://localhost:8080/stock/history/days?code=" + code)
        //     .then(function (response) {
        //         document.getElementById("month").style.backgroundColor = "#778288";
        //         document.getElementById("year").style.backgroundColor = "#778288";
        //         document.getElementById("all").style.backgroundColor = "#1ab5b3";
        //         if (response.data === 400)
        //             window.location.href =  "login.html";
        //         //绘图
        //         DrawData(response);
        //     });
        //
        // $scope.Select_month = function () {
        //     $http.get("http://localhost:8080/stock/history/days?code=" + code)
        //         .then(function (response) {
        //             if (response.data === 400)
        //                 window.location.href =  "login.html";
        //             DrawData(response);
        //         });
        //     document.getElementById("month").style.backgroundColor = "#778288";
        //     document.getElementById("year").style.backgroundColor = "#778288";
        //     document.getElementById("all").style.backgroundColor = "#1ab5b3";
        //
        // };
        // $scope.Select_year = function () {
        //     $http.get("http://localhost:8080/stock/history/weeks?code=" + code)
        //         .then(function (response) {
        //             if (response.data === 400)
        //                 window.location.href =  "login.html";
        //             DrawData(response);
        //         });
        //     document.getElementById("month").style.backgroundColor = "#778288";
        //     document.getElementById("year").style.backgroundColor = "#778288";
        //     document.getElementById("all").style.backgroundColor = "#1ab5b3";
        // };
        // $scope.Select_all = function () {
        //     $http.get("http://localhost:8080/stock/history/months?code=" + code)
        //         .then(function (response) {
        //             if (response.data === 400)
        //                 window.location.href =  "login.html";
        //             DrawData(response);
        //         });
        //     document.getElementById("month").style.backgroundColor = "#778288";
        //     document.getElementById("year").style.backgroundColor = "#778288";
        //     document.getElementById("all").style.backgroundColor = "#1ab5b3";
        // }
    });

    function DrawData(response) {
        var dateList = response.map(function (item) {
            return item[0];
        });
        var valueList = response.map(function (item) {
            return item[1];
        });

        option = {

            // Make gradient line here
            visualMap: [{
                show: false,
                type: 'continuous',
                seriesIndex: 0,
                min: 0,
                max: 400
            }],


            title: [{
                left: 'center',
                text: '收益率曲线'
            }],
            tooltip: {
                trigger: 'axis'
            },
            xAxis: [{
                data: dateList
            }],
            yAxis: [{
                splitLine: {show: false}
            }],
            grid: [{
                bottom: '60%'
            }, {
                top: '60%'
            }],
            series: [{
                type: 'line',
                showSymbol: false,
                data: valueList
            }]
        };
    }


</script>
</html>
