<html>
<head>
    <title>newstrategy</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <link rel="stylesheet" href="css/jquery.range.css">
    <script src="js/jquery.range-min.js"></script>

    <!-- Custom Theme files -->
    <!--theme-style-->
    <!--<link href="css/nav.css" rel="stylesheet" type="text/css" media="all" />-->


    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--//fonts-->
    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="build/css/custom.min.css" rel="stylesheet">

    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div class="header" ng-app="myApp" ng-controller="siteCtrl">

    <div class="header-left">
        <div class="logo">
            <a ng-click="check_out()">登出</a>
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" class="black">大数据展示</a ></li>
                <li><a href="news.html" class="black1" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black2" > 个人主页</a ></li>
                <li><a href="allstrategy.html" class="black2" > 策略中心</a ></li>
                <li>
                    <a href="knowledge.html" class="black2" > 投资知识</a >
                    <ul>
                        <li class="black"><a href="risk.html">风险提示</a></li>
                        <li class="black"><a href="law.html">法律法规</a></li>
                        <li class="black"><a href="novice.html">新手入门</a></li>
                        <li class="black"><a href="advanced.html">进阶知识</a></li>
                    </ul>
                </li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>
    <!---->
    <!---->

    <!---->
    <div class="content" ng-app="myApp" ng-controller="siteCtrl">
        <div class="work" >
            <p class="heat-map-title" >&nbsp;&nbsp;&nbsp;新建策略

            </p>

            <div class="x_title">

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">策略名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="intro" class="control-label col-md-3 col-sm-3 col-xs-12">主理人简介</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="intro" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>



                </form>
            </div>
            <div class="x_title">
                <h2>添加股票 </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="strategy_tables">
                    <br />
                    <!--<form class="form-inline">
                        <div class="form-group">
                            <label for="ex1">股票代码</label>
                            <input type="text" id="ex1" class="form-control" placeholder=" ">
                        </div>
                        <div class="form-group">
                            <label >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="form-group">
                            <input class="single-slider" type="hidden" value="20.0"/>
                        </div>
                    </form>
                    <br />-->
                    <!--<form class="form-inline"  ng-repeat="x in research">-->
                    <!--<div class="form-group">-->
                    <!--<label for="ex3">股票代码</label>-->
                    <!--<input type="text" id="ex3" class="form-control" placeholder={{x.code}}>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<input id={{x.code}} class="stupid" type="hidden" value={{x.num}}>-->
                    <!--</div>-->
                    <!--</form>-->
                </div>
                <br />
                <br />
                <br />

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-7">
                        <button ng-click="back()" class="btn btn-primary" type="button">返回</button>
                        <button id="add-strategy-button" class="btn btn-primary" type="reset">添加</button>
                        <button id="test" ng-click="newS()" class="btn btn-success"  >提交</button>
                    </div>
                </div>
                <!-- 分页 end --
            <!-- end main -->
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>

</div>
<!-- jQuery -->
<!--<script src="js/jquery.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!-- FastClick -->
<script src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="vendors/moment/min/moment.min.js"></script>
<script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="build/js/custom.min.js"></script>


</body>
<script>
    var originCount = 1;
    var count = 1;
    var sliderID = '';
    var miao = [];
    var tmp = $('#slide1').jRange({
        from: 0,
        to: 100,
        step: 1,
        scale: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        format: '%s',
        width: 500,
        showLabels: true,
        snap: true,
        onstatechange: function () {

        }
    });




    var sty = [];

    $('#add-strategy-button').click(function(){
        count = count+1;
        sliderID = "slide" + String(count);
        inputID = "input" + String(count);
//        alert(sliderID);
//        strategys = document.getElementById("strategy_tables").innerHTML;
        if (count>originCount+1) {
//            alert($("#input" + String(count - 1)).val());
            sty.push($("#input" + String(count - 1)).val());
        }

        $('#strategy_tables').append("<br/><form class=\"form-inline\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label for=\"code1\">股票代码</label>\n" +
            "                                    <input type=\"text\" id = \""+inputID +"\" class=\"form-control\" placeholder=\" \">\n" +
            "                                </div>\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label for=\"num1\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>\n"+
            "                                </div>\n" +
            "                                <div class=\"form-group\">\n"+
            "                                    <input id = \""+sliderID +"\" class=\"single-slider\" type=\"hidden\" value=\"0.0\"/>\n" +
            "                                </div>\n" +
            "                            </form>\n");

//        document.getElementById("strategy_tables").innerHTML = strategys + new_strategy;
        for(var j=originCount+1;j<count;j++){
//            alert(name[j-originCount-1]);
            $("#input"+String(j)).attr("placeholder",sty[j-originCount-1]);
        }

        for(var i = 1; i <= count; i++){


            $('#slide'+ String(i)).jRange({
                from: 0,
                to: 100,
                step: 1,
                scale: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                format: '%s',
                width: 500,
                showLabels: true,
                snap: true,
                onstatechange: function () {

                }
            });
        }

        $('#'+sliderID).jRange({
            from: 0,
            to: 100,
            step: 1,
            scale: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
            format: '%s',
            width: 500,
            showLabels: true,
            snap: true,
            onstatechange: function () {

            }
        });
//        miao.push(tmp);

    });


    var app = angular.module('myApp', []);
    var temp = [];
    var myLen = 0;
    var q=0;
    app.controller('siteCtrl', function($scope, $http) {
        $scope.newS = function () {
            var sum = 0;
            var name=document.getElementById("name").value;
            var intro=document.getElementById("intro").value;
            var backName = [];
            var backValue = [];
            var data= [];
            for (var i=0;i<myLen;i++){
                temp2 = {};
                backValue.push($("#"+String(temp[i].code)).val());
                backName.push(temp[i].code);
                temp2["code_id"] = temp[i].code;
                //alert(temp[i].code);
                temp2["number"] = $("#"+String(temp[i].code)).val()/100.0;
                //alert($("#"+String(temp[i].code)).val()/100.0)
                data.push(temp2);
            }
            for (var j = 2; j < count; j++) {
                temp2 = {};
                sID = "slide" + String(j);
                iID = "input" + String(j);
                //alert("hahahahah");
                //alert($("#" + sID).val());
                //alert($('#' + iID).attr('placeholder'));
                backValue.push($("#" + sID).val());
                backName.push($('#' + iID).attr('placeholder'));
                temp2["code_id"] = $('#' + iID).val();
                temp2["number"] = $("#" + sID).val()/100.0;
                data.push(temp2);
            }
            sID = "slide" + String(count);
            iID = "input" + String(count);
            //alert("hahahahah");
            //alert($("#" + sID).val());
            //alert($('#' + iID).val());
            backValue.push($("#" + sID).val());
            backName.push($('#' + iID).val());
            temp2 = {};
            temp2["code_id"] = $('#' + iID).val();
            temp2["number"] = $("#" + sID).val()/100.0;
            alert("l"+temp2.code_id);
            alert("l"+temp2.number);
            data.push(temp2);
            //console.log("hahahahah")
            for(var s=0;s<backValue.length;s++){
                alert(backValue[s]);
                sum = sum + parseInt(backValue[s]);
            }
            alert(sum);
            alert(data);
            alert(name);
            alert(intro);
            if(sum>100){
                alert("总仓位超过100%，请修改！");
                console.log(data)
            }
            else {
                $http({
                    method: 'POST',
                    url: 'http://localhost:8080/study/strategy/create',
                    data: {name:name, brief:intro, data:data}
                    // headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).then(function (value) {
                    if (value.data.status > 0){
                        alert(value.data.strategy_id);
                        window.location.href = "detailstrategy.html?strategy_id=" + value.data.strategy_id;
                    }
                    else {
                        alert("创建失败！");
                        window.location.href = "newstrategy.html";
                    }
                });
            }
        };
        $scope.back = function () {
            window.location.href = "allstrategy.html";
        };
        $scope.check_out = function () {
            window.location.href = "login.html";
        };


    });
</script>
</html>