
<html>
<head>
    <title>Work</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->

</head>
<body>
<div class="header"  ng-app="myApp" ng-controller="siteCtrl">
    <div class="header-left">
        <div class="logo">
            <a ng-click="check_out()">登出</a>
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" class="black1">大数据展示</a ></li>
                <li><a href="news.html" class="black1" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black" > 个人主页</a ></li>
                <li><a href="allstrategy.html" class="black2" > 策略中心</a ></li>
                <li>
                    <a href="risk.html" class="black2" > 投资知识</a >
                    <ul>
                        <li class="black"><a href="risk.html">风险提示</a></li>
                        <li class="black"><a href="law.html">法律法规</a></li>
                        <li class="black"><a href="novice.html">新手入门</a></li>
                        <li class="black"><a href="advanced.html">进阶知识</a></li>
                    </ul>
                </li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>

    <!---->
    <div class="content">
        <div class="work">
            <div class="work-top">
                <div class="info">
                    <h3>个人信息</h3>
                    <style>
                        .guding{text-align:center;}
                        .miao{display:inline-block;}
                    </style>
                    <div class="guding">
                        <img class="miao" src="images/Õ¯’æÕº±Í.png">
                    </div>

                    <ul class="likes">
                        <li><a><i > </i>名字：   {{t_name}}</a></li>
                        <li><span><i class="like"> </i>昵称：   {{nickname}}</span></li>
                        <li><a><i class="comment"> </i>邮箱：   {{mailbox}}</a></li>

                    </ul>
                </div>
            </div>
            <div class="work-in">
                <div class="feature">
                    <h3>自选股信息</h3>
                    <ul ng-repeat="x in stockList" id="choiceList" class="feature-grid">
                        <li><i id="2" ng-click="del(x.code, x.name)"></i><a ng-click="goto(x.code)">{{x.name}}</a></li>
                    </ul>
                    <br>
                    <h3>我的策略</h3>
                    <ul ng-repeat="x in strategyList" id="choiceList2" class="feature-grid2">
                        <li><i id="3" ng-click="modify(x.code)"></i><b id="4" ng-click="del2(x.code,x.name)"></b><a ng-click="goto_strategy(x.code)">{{x.name}}</a></li>
                    </ul>
                </div>


            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>

</div>
</body>
</html>
<script type="text/javascript">
    function del(id){
        console.log(id);
        var x

        var index;
        var number='';
        var name=parseInt(id);
        x=document.getElementById("choiceList");
        var t=x.getElementsByTagName("li").length;
        for (var i=t-1;i>=0;i--)
        {
            for(var j=8;j<x.getElementsByTagName("li")[i].innerHTML.length;j++){
                if(x.getElementsByTagName("li")[i].innerHTML[j]==='\"'){
                    index=j;
                    break;
                }
            }
            number='';
            for(j=7;j<index;j++){
                number=number+x.getElementsByTagName("li")[i].innerHTML[j];
                number=parseInt(number);
            }
            if (number===name)
            {
                x.removeChild(x.getElementsByTagName("li")[i]);
                break;
            }
        }
    }
    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
        $http.get("http://localhost:8080/profile/check")
            .then(function (value) {
                if (value.data === 400)
                    window.location.href = "login.html";
                $scope.t_name = value.data.name;
                $scope.nickname = value.data.nickname;
                $scope.mailbox = value.data.email;
            });

        $http.get("http://localhost:8080/profile/stock/check")
            .then(function (response) {
                $scope.stockList= response.data
            });

        $http.get("http://localhost:8080/study/strategy/profile")
            .then(function (response) {
                $scope.strategyList= response.data.data
            });

        $scope.del = function (code, name) {
            $http.delete("http://localhost:8080/profile/stock/delete?code=" + code)
                .then(function (value) {
                    alert("已成功删除自选股：" + name);
                    $http.get("http://localhost:8080/profile/stock/check")
                        .then(function (value2) {
                            window.location.href = "work.html";
                        })
                })
        };
        $scope.del2 = function (code, name) {
            $http.delete("http://localhost:8080/study/strategy/delete?strategy_id=" + code)
                .then(function (value) {
                    alert("已成功删除策略：" + name);
                    window.location.href = "work.html";
                    // $http.get("http://localhost:8080/study/strategy/profile")
                    //     .then(function (value2) {
                    //         window.location.href = "work.html";
                    //     })
                })
        };
        $scope.goto = function (code) {
            window.location.href = "detail.html?code=" + code;
        };
        $scope.goto_strategy = function (code) {
            window.location.href = "detailstrategy.html?code=" + code;
        };
        $scope.modify = function (code) {
            window.location.href = "modifystrategy.html?code=" + code;
        };
        $scope.check_out = function () {
            window.location.href="/login.html";
            $http.get("http://localhost:8080/user/logout");

        };
    });
</script>